body {
    margin: 0;
}
label {
    font-size: 20px;
    font-family: Arial;
}
input[type=button] {
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 3px;
    padding-top: 3px;
    margin-bottom: 7px;
}
input[type=button]:hover {
    box-shadow: 0px 0px 4px grey;
}
input[type=text] {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 7px;
    margin-right: 4px;
}
canvas {
    margin-bottom: -4px;
}
hr {
    margin-top: 0;
    margin-bottom: 7px;
}
select {
    font-size: 20px;
    font-family: Arial;
    border: 1px solid grey;
    border-radius: 3px;
    padding-bottom: 3px;
}
/*----------------------display_image-----------------*/
.display_image {
    display: none;
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}
.d_img_container {
    width: fit-content;
    background: rgb(250, 250, 250);
    margin: 0 auto;
    box-shadow: 0px 0px 8px #222;
}
.d_img_container>img {
    position: relative;
    margin: 5px;
    margin-bottom: 1px;
}
.d_img_container input[type=button] {
    z-index: 3;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: rgb(236, 0, 0);
    color: #eee;
    border: 1px solid rgb(156, 0, 0);
    font-size: 28px;
    height: 32px;
    padding: 0px 7px;
}
.d_img_container input[type=button]:hover {
    box-shadow: 0px 0px 4px #222;
}
.btn_container {
    position: relative;
}
.btn_container a {
    z-index: 3;
    position: absolute;
    text-decoration: none;
    background-color: rgb(0, 152, 236);
    color: #eee;
    border: 1px solid rgb(0, 98, 186);
    font-size: 28px;
    height: 30px;
    top: -10px;
    right: 28px;
    border-radius: 3px;
    padding: 0px 7px;
}
.btn_container a:hover {
    box-shadow: 0px 0px 4px #222;
}
.el_time {
    z-index: 3;
    position: absolute;
    top: -10px;
    right: 68px;
    font-family: 'Arial';
    background-color: #eee;
    padding: 6px;
    border: 1px solid grey;
    border-radius: 3px;
}
/*----------------------------------------------------*/
.wrap {
    display: table;
    width: 100%;
    z-index: 1;
}
.wr {
    display: table-cell;
    padding: 5px;
    background: #eee;
}
.info_div {
    display: none;
    border-left: 4px solid #0a0;
    background: #fff;
    box-shadow: 0px 0px 3px #888;
    margin-bottom: 3px;
    padding-left: 5px;
    font-size: 20px;
}
.errtxt {
    border-left: 4px solid #a00;
    font-family: 'Courier New', Courier, monospace;
}
.canvasback {
    background: #fff;
    width: fit-content;
}
.stdbtn {
    background-color: lightgrey;
}
.stdbtn:hover {
    background-color: #e8e8e8;
}
.uploadbtn {
    background-color: rgba(0, 187, 0, 0.7);
    background-image: url('./upload.png');
    background-repeat: no-repeat;
    background-size: 28px 28px;
    padding-left: 26px;
    
}
.uploadbtn:hover {
    background-color: rgba(0, 224, 0, 0.7);
}
.showimgbtn {
    background-color: rgba(0, 150, 187, 0.7);
}
.showimgbtn:hover {
    background-color: rgba(0, 180, 224, 0.7);
}
/*--------------------------HELP--------------------------*/
.helpDiv {
    position: absolute;
    right: 5px;
    top: 3px;
    background: #fefefe;
    box-shadow: 0px 0px 2px #888;
    height: 32px;
    padding: 2px 4px;
    font-family: Arial;
    text-align: center;
}
.helpIcon {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #66f;
    color: #fff;
    font-weight: bold;
    font-size: 29px;
    display: inline-block;
    box-shadow: 1px 1px 2px #888;
    text-shadow: 1px 1px 2px #333;
}
.helpText {
    position: relative;
    top: -4px;
    display: inline-block;
    height: 32px;
    padding: 0px 3px 0px 1px;
}